name: ci
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install clippy component
        run: rustup component add clippy

      - name: Install cargo-audit and cargo-deny
        run: cargo install cargo-audit cargo-deny

      - name: Audit Cargo.lock
        run: cargo audit

      - name: Lint dependencies
        run: cargo deny check

      - name: Build
        run: cargo build --verbose

      - name: Run tests
        run: cargo test --all --all-features --verbose
